{{ form_start(form) }}

    {{ form_row(form.name) }}
    {{ form_row(form.symbol) }}
    {{ form_row(form.icon) }}
    {{ form_row(form.parsable) }}

    <button type="submit" class="btn">Submit</button>

{{ form_end(form) }}