{{ form_start(form) }}

    {{ form_row(form.name) }}
    {{ form_row(form.slug) }}
    {{ form_row(form.enabled) }}
    {{ form_row(form.default) }}
    {{ form_row(form.pairs) }}

    <button type="submit" class="btn">Submit</button>

{{ form_end(form) }}