{% extends 'base.html.twig' %}

{% block body %}
    <h1>Crypto</h1>

    <div class="row">
        {% for row in output %}
            <div class="col-xs-12 col-sm-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"><i class="cc {{ row.pair.sourceCurrency.symbol }}"></i> {{ row.pair.sourceCurrency.name }}</h3>
                    </div>
                    <ul class="list-group">
                        {% for data in row.data %}
                        <li class="list-group-item">
                            {% if data.market.chartUrl is not null %}
                                <a href="{{ data.market.chartUrl }}{{ data.pairSlug }}" target="_blank">
                            {% endif %}
                            {{ data.market.name }}
                            {% if data.market.chartUrl is not null %}
                                </a>
                            {% endif %}
                            <span class="pull-right">{{ row.pair.targetCurrency.symbol }} {{ data.value | number_format(4, '.', ',') }}</span>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}

