{% extends 'base.html.twig' %}

{% block body %}
    <h1>Crypto</h1>

    <div class="row">
        <div class="col-sm-10">

            <h2>Tickers</h2>

            <div class="row">
                {% for ticker in tickers %}
                    <div class="col-xs-12 col-sm-3">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="cc {{ ticker.pair.sourceCurrency.symbol }}"></i> {{ ticker.pair.sourceCurrency.name }} / {{ ticker.pair.targetCurrency.symbol }}</h3>
                            </div>
                            <ul class="list-group">
                                {% for data in ticker.data %}
                                    <li class="list-group-item">
                                        {% if data.market.chartUrl is not null %}
                                        <a href="{{ data.market.chartUrl }}{{ data.pairSlug }}" target="_blank">
                                            {% endif %}
                                            {{ data.market.name }}
                                            {% if data.market.chartUrl is not null %}
                                        </a>
                                        {% endif %}

                                        {% if data.previousTicker is defined %}
                                            <span class="pull-right">
                                                {% if data.value > data.previousTicker.value %}
                                                    <span class="glyphicon glyphicon-arrow-up text-success" data-toggle="tooltip" data-placement="right" title="{{ data.previousTicker.value | number_format(8, '.', ',') }}"></span>
                                                {% elseif data.value == data.previousTicker.value %}
                                                    <span class="glyphicon glyphicon-arrow-right text-info" data-toggle="tooltip" data-placement="right" title="{{ data.previousTicker.value | number_format(8, '.', ',') }}"></span>
                                                {% else %}
                                                    <span class="glyphicon glyphicon-arrow-down text-danger" data-toggle="tooltip" data-placement="right" title="{{ data.previousTicker.value | number_format(8, '.', ',') }}"></span>
                                                {% endif %}
                                            </span>
                                        {% endif %}
                                        <span class="pull-right">{{ data.value | number_format(8, '.', ',') }}</span>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                {% endfor %}
            </div>


            <h2>Balances</h2>

            <div class="row">
                {% for market, balance in balances %}
                    <div class="col-xs-12 col-sm-3">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">{{ market }}</h3>
                            </div>
                            <ul class="list-group">
                                {% for currency, fund in balance %}
                                    <li class="list-group-item">
                                        {{ currency | upper }}
                                        <span class="pull-right">{{ fund | number_format(8, '.', ',') }}</span>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                {% endfor %}
            </div>


            <h2>Markets</h2>

            {% for market in markets %}
                <a href="{{ path('market.show', {market: market.id}) }}" class="btn btn-default">{{ market.name }}</a>
            {% endfor %}

        </div>
        <div class="col-sm-2">

            <h2>Todo</h2>

            <ul>
                <li>CRUD Market</li>
                <li>CRUD Currency</li>
                <li>CRUD Pair</li>
                <li>CRUD MarketPair</li>
            </ul>

        </div>
    </div>

{% endblock %}

