{% extends 'base.html.twig' %}

{% block body %}
<h1>Market</h1>

    <h2>Actions</h2>

    <a href="{{ path('market.import.currencies', {market: market.id}) }}">Import currencies</a>

    <h2>Place order</h2>

    {{ form_start(form) }}

        {{ form_row(form.sourceCurrency) }}
        {{ form_row(form.targetCurrency) }}

        <button type="submit" class="btn btn-primary">Submit</button>

    {{ form_end(form) }}

    <h2>Volumes</h2>

    <div class="row">
        {% for pair, data in volumes %}
            <div class="col-xs-12 col-sm-3">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"> {{ pair }}</h3>
                    </div>
                    <ul class="list-group">
                        {% for volume in data %}
                            <li class="list-group-item">

                                {{ volume.volume | number_format(8, '.', ',') }}

                                <span class="pull-right">
                                    {% if volume.change > 100 %}
                                        <span class="glyphicon glyphicon-arrow-up text-success" data-toggle="tooltip" data-placement="right" title="{{ volume.change | number_format(8, '.', ',') }} %"></span>
                                    {% elseif volume.change == 100 %}
                                        <span class="glyphicon glyphicon-arrow-right text-info" data-toggle="tooltip" data-placement="right" title="{{ volume.change | number_format(8, '.', ',') }}"></span>
                                    {% else %}
                                        <span class="glyphicon glyphicon-arrow-down text-danger" data-toggle="tooltip" data-placement="right" title="{{ volume.change | number_format(8, '.', ',') }}"></span>
                                    {% endif %}
                                </span>

                                <span class="pull-right">{{ volume.change | number_format(2, '.', ',') }}</span>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}